{% extends "base.html" %}
{% block title %}Aggiungi proprieta{% endblock %}

{% block content %}
<h2 align="center">Inserisci i dati della tua proprieta.</h2>
<br />
<form method="POST">
    {% if not user.proprietario %}
    <div class="form-group">
        <label for="biografia">Biografia:</label>
        <textarea class="form-control" name="biografia" id="biografia"
            rows="1">Di qualcosa su di te ai tuoi futuri ospiti.</textarea>
    </div>
    <div class="form-group">
        <laber for="telefono"></laber>
        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Inserisci numero di telefono">
    </div>
    <select class="form-control" id="metodo_pagamento" , name="metodo_pagamento">
        <option selected>Scegli il metodo di accredito</option>
        {% for metodo_pagamento in user.metodi_pagamento %}
        {% if metodo_pagamento.paypal %}
        <option value="{{metodo_pagamento.id}}">{{metodo_pagamento.paypal.email}}</option>
        {% else %}
        <option value="{{metodo_pagamento.id}}">{{metodo_pagamento.carta.numero_carta}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <hr>
    {% endif %}
    <div class="form-group">
        <label for="citta">Citta</label>
        <select class="form-control" id="citta" name="citta">
            {% for citta in lista_citta %}
            <option value="{{citta.nome}}">{{citta.nome}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="indirizzo">Indirizzo</label>
        <input type="text" class="form-control" id="indirizzo" name="indirizzo" placeholder="Via Rossi 35">
    </div>
    <div class="form-group">
        <label for="descrizione">Descrizione</label>
        <textarea type="text" class="form-control" id="descrizione" name="descrizione"
            placeholder="Scrivi qualcosa sulla tua proprieta." rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="tipo_struttura">Tipo Struttura</label>
        <select class="form-control" id="tipo_struttura" name="tipo_struttura">
            {% for tipo_struttura in lista_tipi_struttura %}
            <option value="{{tipo_struttura.nome}}">{{tipo_struttura.nome}}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg btn-block">
        <i class="bi bi-plus-circle-fill"></i>
    </button>
</form>

{% endblock %}