{% extends "base.html" %}
{% block title %}Trending{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h3 class="text-center">Trending</h3>
</div>
<div class="row justify-content-center"></div>
    <p class="text-center">Città che hanno ospitato più soggiorni negli ultimi 30 giorni.</p>
</div>
<div class="row mt-4 justify-content-center">
<ul class="list-group">
    {% for citta in citta %}
    <li class="list-group-item"><h5>{{citta.citta}} ({{citta.numero_soggiorni}})</h5></li>
    {% endfor %}
</ul>
</div>

{% endblock %}