{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.proprietario %}
<h2 align="center">Le tue proprieta</h2>
<br />
<div class="container">
    <div class="row">
        {% for proprieta in user.proprietario.proprieta %}
        <div class="col-4 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ proprieta.citta.nome }}, {{ proprieta.indirizzo }}</h5>
                    <a href="{{ url_for('views.dettagli_proprieta_proprietario', id=proprieta.id) }}"
                        class="btn btn-primary">Modifica</a>
                    <button class="btn btn-primary" onclick="rimuovi_proprieta({{proprieta.id}})">Elimina</button>
                    <a href="{{ url_for('views.gestisci_prenotazioni', id=proprieta.id) }}"
                        class="btn btn-primary">Gestisci
                        prenotazioni</a>
                    <a href="{{ url_for('views.recensioni', id=proprieta.id) }}"
                        class="btn btn-primary">Recensioni</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br />
<a href="{{ url_for('views.aggiungi_proprieta') }}" class="btn btn-primary btn-lg btn-block">Aggiungi una proprieta</a>
{% else %}
<h2 align="center">{{ user.nome_utente }}, ancora non sei proprietario.<br />Aggiungi una proprieta' e un metodo di
    pagamento su cui ricevere gli accrediti per diventarlo.
</h2>
<br />
{% if user.metodi_pagamento %}
<a href="{{ url_for('views.aggiungi_proprieta') }}" class="btn btn-primary btn-lg btn-block">Diventa proprietario</a>
{% else %}
<a href="{{ url_for('views.metodi_pagamento', flag=flag) }}" class="btn btn-primary btn-lg btn-block">Diventa proprietario</a>
{% endif %}

{% endif %}
{% endblock %}