{% extends "base.html" %}
{% block title %}Dettagli proprieta{% endblock %}

{% block content %}
    <h2 align="center"><i class="bi bi-geo-alt-fill mr-2"></i>{{ proprieta.citta.nome }}, {{proprieta.indirizzo}}</h2>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
            {% for amenita in proprieta.amenita %}
            <button class="btn btn-primary" style="background-color: black;" onclick="removeAmenity('{{amenita.nome}}', {{proprieta.id}})">
                <span>{{amenita.nome}}</span>
                <span><i class="bi bi-x-circle"></i></span>
            </button>
            {% endfor %}
        </div>
        <div class="row justify-content-center p-2">
            <button class="badge btn-primary mr-2 p-2" style="background: black;" data-toggle="modal" data-target="#amenity_modal">Aggiungi amenita</i></button>
        </div>
    </div>
    <div class="modal fade" id="amenity_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi amenita</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="elimina_amenita">Aggiungi</label>
                    <select class="form-select" id="elimina_amenita" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        {% for amenita in Amenita.query.all() %}
                            <option value='{{amenita.nome}}'>{{ amenita.nome }}</option>
                        {% endfor %}
                      </select>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="aggiungi_amenita({{proprieta.id}})">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <form method="POST">
        <div class="p-2 form-group">
            <textarea type="text" class="form-control" id="descrizione" name="descrizione" placeholder="{{ proprieta.descrizione }}" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Aggiorna descrizione</button>
    </form>
    <div class="container">
        <div class="row justify-content-center">
        {% for camera in proprieta.camere %}
            <div class="col-5 p-2 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row p-2">
                            <h5 class="card-title">Camera {{ camera.ordinale }}<i class="bi bi-dot"></i></h5>
                            <h5>
                                <i class="bi bi-person-fill"></i>
                                {{camera.num_ospiti}}
                                <i class="bi bi-dot"></i>
                            </h5>
                            <h5>
                                <i class="bi bi-currency-euro"></i>
                                {{camera.prezzo_per_notte}}
                            </h5>
                        </div>
                        
                        
                        <br>
                        <button type="button" class="btn btn-primary" onclick="removeRoom({{camera.id}})">Elimina camera</i></button>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#new_room_modal">Aggiungi camera</i></button>
        <div class="modal fade" id="new_room_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi camera</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <label for="num_ospiti">Quante persone potranno soggiornare nella nuova camera?</label>
                      <input type="number" class="form-control" id="num_ospiti" name="=num_ospiti">
                      <label for="prezzo">Quale sara' il prezzo a notte?</label>
                      <input type="number" class="form-control" id="prezzo" name="prezzo">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" onclick="aggiungi_camera({{proprieta.id}})">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
    
{% endblock %}