{% extends "base.html" %}
{% block title %}Diventa proprietario{% endblock %}

{% block content %}

<h2 align="center">Crea il tuo profilo proprietario</h2>
<form method="POST">
    <div class="form-group">
        <label for="biografia">Biografia:</label>
        <textarea class="form-control" name="biografia" id="biografia"
            rows="5">Di qualcosa su di te ai tuoi futuri ospiti.</textarea>
    </div>
    <select class="form-control" id="metodo_pagamento", name="metodo_pagamento">
        <option selected>Scegli il metodo di accredito</option>
        {% for metodo_pagamento in user.metodi_pagamento %}
        {% if metodo_pagamento.paypal %}
        <option value="{{metodo_pagamento.id}}">{{metodo_pagamento.paypal.email}}</option>
        {% else %}
        <option value="{{metodo_pagamento.id}}">{{metodo_pagamento.carta.numero_carta}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Avanti</button>
</form>


{% endblock %}