{% extends "base.html" %}
{% block title %}Prenotazioni{% endblock %}

{% block content %}
<h2 align="center">Le tue prenotazioni</i></h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Utente</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
                <th scope="col">Quanti</th>
                <th scope="col">Camere</th>
            </tr>
        </thead>
        <tbody>
            {% for soggiorno in soggiorni %}
            <tr>
                <td>{{soggiorno.utente.nome}} {{soggiorno.utente.cognome}}</td>
                <td>{{soggiorno.check_in}}</td>
                <td>{{soggiorno.check_out}}</td>
                <td>{{soggiorno.num_ospiti}}</td>
                <td>
                    {% for camera in soggiorno.camere %}
                    {{camera.ordinale}}, 
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}