{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <h2 align="center">Dove vuoi andare?</h2>
</div>
<form method="POST">
  <div class="row pt-4 justify-content-center">
    <div class="col-3">
      <div class="form-group">
        <label for="citta" class="font-weight-bold">Dove: </label>
        <select name="citta" id="citta" class="form-control">
          <option selected disabled>Città</option>
          {% for citta in citta %}
          <option value="{{citta.nome}}" class="form-control">{{citta.nome}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="check_in" class="font-weight-bold">Check-In</label>
        <input type="datetime-local" id="check_in" name="check_in" class="form-control">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="check_out" class="font-weight-bold">Check-Out</label>
        <input type="datetime-local" id="check_out" name="check_out" class="form-control">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="num_ospiti" class="font-weight-bold">Quanti</label>
        <input type="number" id="num_ospiti" name="num_ospiti" class="form-control" placeholder="1">
      </div>
    </div>
  </div>
  <hr>
  <div class="row pt-1 justify-content-center">
    <div class="form-group">
      {% for amenita in amenita %}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="amenita_selezionate"
          value="{{amenita.nome}}">
        <label class="form-check-label" for="inlineCheckbox1">{{amenita.nome}}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row pt-1 justify-content-center">
    <div class="form-group">
      {% for tipo_struttura in tipi_struttura %}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineCheckbox1" name="tipo_struttura"
          value="{{tipo_struttura.nome}}">
        <label class="form-check-label" for="inlineCheckbox1">{{tipo_struttura.nome}}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary">Cerca</button>
  </div>
</form>
<hr>
{% if soggiorno %}
<div class="row justify-content-center"></div>
  <h2 align="center">Il tuo prossimo viaggio</h2>
</div>
<div class="row justify-content-center">
  <div class="card text-center">
    <div class="card-header font-weight-bold">
      Tra {{giorni}} giorni, {{ore}} ore
    </div>
    <div class="card-body">
      <h5 class="card-title">{{soggiorno.camere[0].proprieta.id_citta}}, {{soggiorno.camere[0].proprieta.indirizzo}}</h5>
      <p class="card-text">Da: {{soggiorno.get_stringa_check_in()}} a: {{soggiorno.get_stringa_check_out()}}</p>
      <p class="card-text">Camere prenotate:</p>
      {% for c in soggiorno.camere %}
        <p class="card-text">{{c.ordinale}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}