{% extends "base.html" %}
{% block title %}Aggiungi Paypal{% endblock %}

{% block content %}
{% if user.metodi_pagamento %}
<h2 align="center">I tuoi metodi di pagamento</h2>
<div class="d-flex flex-row pt-4 justify-content-center">
    <ul class="list-group">
        {% for metodo_pagamento in user.metodi_pagamento %}
        <li class="list-group-item">{{metodo_pagamento.get_nome()}}</li>
        {% endfor %}
    </ul>
    </div>
<hr>
{% endif %}


<h2 align="center">Aggiungi un metodo di pagamento</h2>
<br>

<div class="row">
    <div class="col m5">
        <a href="{{url_for('views.aggiungi_carta', flag=flag)}}" class="btn btn-primary btn-lg btn-block"><i class="bi bi-credit-card-fill"></i> Carta</a>
    </div>
    <div class="col m5">
        <a href="{{ url_for('views.aggiungi_paypal', flag=flag) }}"
            class="btn btn-primary btn-lg btn-block"><i class="bi bi-paypal"></i> Paypal</a>
    </div>
</div>
{% endblock %}