{% extends "base.html" %}
{% block title %}Migliori proprietà{% endblock %}

{% block content %}
<h2 align="center">Top 10 proprietà con la valutazione media più alta</i></h2>

<div class="d-flex flex-row pt-4 justify-content-center">
<ul class="list-group">
    {% for proprieta in proprieta %}
    <li class="list-group-item">{{proprieta.id_citta}}, {{proprieta.indirizzo}} - {{proprieta.valutazione_media}} <i class="bi bi-star-fill"></i> ({{proprieta.num_valutazioni}})</li>
    {% endfor %}
</ul>
</div>

{% endblock %}