{% extends "base.html" %}
{% block title %}Aggiungi Paypal{% endblock %}

{% block content %}
<h2 align="center">Top 10 host con le valutazioni mediamente più alte</i></h2>

<div class="d-flex flex-row pt-4 justify-content-center">
<ul class="list-group">
    {% for proprietario in proprietari %}
    <li class="list-group-item">{{proprietario.utente.nome}} {{proprietario.utente.cognome}} - 
        {{proprietario.valutazione_media}} <i class="bi bi-star-fill"></i> ({{proprietario.num_valutazioni}})</li>
    {% endfor %}
</ul>
</div>

{% endblock %}