{% extends "base.html" %}
{% block title %}Dettagli Pagamento{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <h3 class="text-center">Dettagli Pagamento</h3>
</div>
<div class="row mt-4">
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Totale</th>
                <th scope="col">Totale Pagato</th>
                <th scope="col">Sconto</th>
                <th scope="col">Metodo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pagamento.data_creazione}}</td>
                <td>{{pagamento.soggiorno.prezzo}}</td>
                <td>
                    {{pagamento.get_totale_pagato()}}
                </td>
                <td>
                    {% if pagamento.coupon %}
                    {{pagamento.coupon.percentuale_sconto}}%
                    {% else %}
                    0%
                    {% endif %}
                </td>
                <td>
                    {{pagamento.metodo_addebito.get_nome()}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}