{% extends "base.html" %}
{% block title %}Prenotazioni{% endblock %}

{% block content %}

<h2 align="center">Il tuo pagamento</i></h2>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Totale</th>
                <th scope="col">Totale Pagato</th>
                <th scope="col">Sconto</th>
                <th scope="col">Metodo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pagamento.data_creazione}}</td>
                <td>{{pagamento.totale}}</td>
                <td>
                    {% if pagamento.coupon %}
                    {{pagamento.get_totale_pagato()}}
                    {% else %}
                    {{pagamento.totale}}
                    {% endif %}
                </td>
                <td>
                    {% if pagamento.coupon %}
                    {{pagamento.coupon.percentuale_sconto}}%
                    {% else %}
                    0%
                    {% endif %}
                </td>
                <td>
                    {{pagamento.metodo_addebito.get_nome()}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}