{% extends "base.html" %}
{% block title %}Prenotazioni{% endblock %}

{% block content %}
<h2 align="center">Le tue prenotazioni</i></h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Luogo</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
                <th scope="col">Quanti</th>
                <th scope="col">Camere</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Valutazione</th>
            </tr>
        </thead>
        <tbody>
            {% for soggiorno in user.soggiorni %}
            <tr>
                <td>
                    <a href="" class="btn btn-primary">{{soggiorno.camere[0].proprieta.citta.nome}}, {{soggiorno.camere[0].proprieta.indirizzo}}</a>
                </td>
                <td>{{soggiorno.check_in}}</td>
                <td>{{soggiorno.check_out}}</td>
                <td>{{soggiorno.num_ospiti}}</td>
                <td>
                    {% for camera in soggiorno.camere %}
                    {{camera.ordinale}}, 
                    {% endfor %}
                </td>
                <td>
                    <a href="" class=" btn-btn-primary">Vedi dettagli</a>
                </td>
                <td>
                    {% if soggiorno.check_in < now %}
                    <a href="{{url_for('views.scrivi_recensione', id_proprieta=soggiorno.camere[0].proprieta.id)}}" class=" btn-btn-primary">Recensisci</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}