{% extends "base.html" %}
{% block title %}Prenota{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h3 class="text-center">{{ proprieta.citta.nome }}, {{proprieta.indirizzo}}</h3>
</div>
<div class="row justify-content-center">
    <h5 class="text-center">{{ proprieta.tipo_struttura.nome }}</h5>
</div>
<form method="POST">
    <div class="row justify-content-center">
        {% for amenita in proprieta.amenita %}
        <h4><span class="badge badge-dark mr-1">
                {{amenita.nome}}
            </span></h4>
        {% endfor %}
    </div>
    <div class="row">
        {% if proprieta.descrione %}
        <p>Descrizione: {{proprieta.descrizione}}</p>
        {% else %}
        <p>Nessuna descrizione.</p>
        {% endif %}
    </div>

    <div class="row mt-2">
        <div class="col-9">
            <div class="row">
                <div class="row justify-content-center">
                    {% for camera in camere_libere %}
                    <div class="card-deck p-1">
                        <div class="card" style="width: 15rem;">
                            <div class="card-header">
                                <h5 class="card-title">Camera {{ camera.ordinale }}</h5>
                            </div>
                            <div class="card-body">
                                <i class="bi bi-person-fill mr-1"></i>{{camera.num_ospiti}}
                                <i class="bi bi-currency-euro mr-1"></i>{{camera.prezzo_per_notte}}
                                <hr>
                                {% if camera.descrizione %}
                                <p>{{camera.descrizione}}</p>
                                {% else %}
                                <p>Nessuna descrizione.</p>
                                {% endif %}
                                <div class="form-check">
                                    <input class="form-check-input btn" type="checkbox" value="{{camera.id}}"
                                        id="{{camera.id}}" name="camere_prenotate">
                                    <label for="{{camera.id}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <h5 class="text-center">Valutazione media: <i
                        class="bi bi-star-fill mr-1"></i>{{proprieta.valutazione_media}}
                    ({{proprieta.num_valutazioni}})</h5>
                <br>
            </div>
            <div class="row">
                {% for recensione in proprieta.recensioni %}
                <div class="card-deck p-1" style="width: 15rem;">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mr-1">{{recensione.utente.nome_utente}}
                                <i class="bi bi-star-fill"></i>
                                {{recensione.valutazione}} ({{recensione.get_stringa_data_ultima_modifica()}})
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>{{recensione.testo}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
            <div class="row justify-content-center">
                <h4>{{proprieta.proprietario.utente.nome}} {{proprieta.proprietario.utente.cognome}}
                </h4>
            </div>
            <div class="row justify-content-center">
                <h5><i class="bi bi-star-fill mr-1"></i>{{proprieta.proprietario.valutazione_media}}
                    ({{proprieta.proprietario.num_valutazioni}})</h5>
            </div>
            <div class="row justify-content-center">
                {% if proprieta.proprietario.biografia %}
                <p>{{proprieta.proprietario.biografia}}</p>
                {% else %}
                <p>Nessuna biografia.</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="check_in" class="font-weight-bold">Check-in:
                </label><input type="datetime-local" id="check_in" name="check_in" class="form-control"
                    value="{{check_in}}" , disabled="true">
            </div>
            <div class="form-group">
                <label for="check_out" class="font-weight-bold">Check-out:</label>
                <input type="datetime-local" id="check_out" name="check_out" class="form-control" value="{{check_out}}"
                    , disabled="true">
            </div>
            <div class="form-group">
                <label for="num_ospiti" class="font-weight-bold">Quanti:</label>
                <input type="number" id="num_ospiti" name="num_ospiti" class="form-control" placeholder="{{num_ospiti}}"
                    , disabled="true">
            </div>

            <div class="form-group">
                <select class="form-control" id="id_metodo_pagamento" , name="id_metodo_pagamento">
                    <option selected disabled>Metodo di pagamento</option>
                    {% for metodo_pagamento in user.metodi_pagamento %}
                    <option value="{{metodo_pagamento.id}}">{{metodo_pagamento.get_nome()}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" id="id_coupon" , name="id_coupon">
                    <option selected disabled>Coupon</option>
                    {% for coupon in coupons %}
                    <option value="{{coupon.id}}">
                        {{coupon.percentuale_sconto}}% -
                        {% for tipo_struttura in coupon.tipi_struttura%}
                        {{tipo_struttura.nome}},
                        {% endfor %}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Prenota</button>
            </div>

        </div>

    </div>
</form>


{% endblock %}