{% extends "base.html" %}
{% block title %}Profilo{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h3 class="text-center">{{ user.nome }} {{ user.cognome }}</h3>
</div>
<div class="row justify-content-center">
    <h5 class="text-center">{{ user.nome_utente }}</h5>
</div>
<div class="row mt-2 justify-content-center">
    <a href="{{url_for('views.metodi_pagamento')}}" class="btn btn-primary">I tuoi metodi di pagamento</a>
</div>
<hr>
<div class="row justify-content-center">
    <h4 class="text-center"><i class="bi bi-ticket-fill mr-2"></i>Coupons usabili</h4>
</div>
<div class="row">
    {% for coupon in user.coupons %}
    {% if not coupon.pagamento %}
    <div class="card-deck p-1">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Sconto del {{coupon.percentuale_sconto}}%</h6>
            </div>
            <div class="card-body">
                {% for tipo_struttura in coupon.tipi_struttura %}
                <p class="mr-2">{{tipo_struttura.nome}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% if user.proprietario %}
<hr>
<div class="row justify-content-center">
    <h3 class="text-center">Il tuo profilo Host</h3>
</div>
<div class="row justify-content-center">
    <h5 class="card-title"><i class="bi bi-star-fill mr-1"></i>{{user.proprietario.valutazione_media}}
        ({{user.proprietario.num_valutazioni}})</h5>
    <br>
</div>
<form method="POST">
    <div class="form-group">
        <label for="biografia">Biografia:</label>
        <textarea class="form-control" name="biografia" id="biografia" rows="5"
            placeholder="{{user.proprietario.biografia}}"></textarea>
    </div>
    <div class="form-group">
        <label for="telefono">Telefono:</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder={{user.proprietario.telefono}}>
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Salva</button>
    </div>

</form>
{% endif %}

{% endblock %}