{% extends "base.html" %}
{% block title %}Recensioni{% endblock %}

{% block content %}
<h2 align="center">Recensioni per {{proprieta.id_citta}}, {{proprieta.indirizzo}}</h2>

<div class="row justify-content-center">
    <h5><i class="bi bi-star-fill mr-1"></i>{{proprieta.valutazione_media}} ({{proprieta.num_valutazioni}})</h5>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Utente</th>
                <th scope="col">Valutazione</th>
                <th scope="col">Testo</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for recensione in proprieta.recensioni %}
            <tr>
                <td>{{recensione.utente.nome_utente}}</td>
                <td>{{recensione.valutazione}}</td>
                <td>{{recensione.testo}}</td>
                <td>{{recensione.get_stringa_data_ultima_modifica()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}