{% extends "base.html" %}
{% block title %}Recensioni{% endblock %}

{% block content %}
<h2 align="center">{{proprieta.citta.nome}}, {{proprieta.indirizzo}}</h2>
<div class="container">
    <div class="row justify-content-center">
        <h5 class="card-title"><i class="bi bi-star-fill"></i> {{proprieta.valutazione_media}} ({{proprieta.num_valutazioni}})</h5>
    </div>
    <div class="row p-2 justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Utente</th>
                    <th scope="col">Valutazione</th>
                    <th scope="col">Data</th>
                    <th scope="col">Testo</th>
                </tr>
            </thead>
            <tbody>
                {% for recensione in proprieta.recensioni %}
                <tr>
                    <td>{{recensione.utente.nome_utente}}</td>
                    <td>{{recensione.valutazione}}</td>
                    <td>{{recensione.get_stringa_data_ultima_modifica()}}</td>
                    <td>{{recensione.testo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}