{% extends "base.html" %}
{% block title %}Ricerca{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for proprieta in lista_proprieta %}
            <div class="col-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ proprieta.citta.nome }}, {{ proprieta.indirizzo }}</h5>
                        <h6>di {{proprieta.proprietario.utente.nome}} {{proprieta.proprietario.utente.cognome}}</h6>
                        <h6>{{proprieta.valutazione_media}}<i class="bi bi-star-fill p-1"></i> ({{proprieta.num_valutazioni}})</h6>
                        <a href="{{ url_for('views.proprieta', citta=citta, check_in=check_in, check_out=check_out, num_ospiti=num_ospiti, proprieta_id=proprieta.id) }}" class="btn btn-primary btn-lg btn-block" target="_blank">Scopri</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}