{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <h3 class="text-center">Sign Up</h3>
</div>
<form method="POST">
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Cognome">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="nome_utente" name="nome_utente" placeholder="Nome Utente">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Conferma Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Registrati</button>
</form>

{% endblock %}