{% extends "base.html" %}
{% block title %}Le tue proprietà{% endblock %}

{% block content %}
{% if user.proprietario %}
<div class="row justify-content-center">
    <h3 class="text-center">Le tue proprietà</h3>
</div>
<div class="row mt-4">
    {% for proprieta in user.proprietario.proprieta %}
    {% if not proprieta.data_rimozione %}
    <div class="col-4 p-2">
        <div class="card h-100">
        <div class="card-header">{{proprieta.id_tipo_struttura}}</div>
        <div class="card-body">
            <h5 class="card-title">{{ proprieta.citta.nome }}, {{ proprieta.indirizzo }}</h5>
            <p>di {{proprieta.proprietario.utente.nome}} {{proprieta.proprietario.utente.cognome}}</p>
            <p><i class="bi bi-star-fill mr-1"></i>{{proprieta.valutazione_media}}
                ({{proprieta.num_valutazioni}})</p>
            <a href="{{ url_for('views.soggiorni_tua_proprieta', id=proprieta.id) }}">Prenotazioni</a>
            <a href="{{ url_for('views.recensioni_tua_proprieta', id=proprieta.id) }}">Recensioni</a>
            
        </div>
        <div class="card-footer">
            <a class="btn btn-dark mr-1" href="{{ url_for('views.modifica_proprieta', id=proprieta.id) }}">Modifica</a>
            <button class="btn btn-danger" onclick="rimuovi_proprieta({{proprieta.id}})">Elimina</button>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
<div class="row mt-4 justify-content-center">
    <a href="{{ url_for('views.aggiungi_proprieta') }}" class="btn btn-primary">Aggiungi proprieta</a>
</div>
{% else %}
<div class="row justify-content-center">
    <h3 class="text-center">{{ user.nome_utente }}, ancora non sei host.</h3>
</div>
{% if user.metodi_pagamento %}
<div class="row justify-content-center">
    <a href="{{ url_for('views.aggiungi_proprieta') }}" class="btn btn-primary mt-4">Diventa host</a>
</div>
{% else %}
<div class="row justify-content-center">
    <a href="{{ url_for('views.metodi_pagamento', flag=flag) }}" class="btn btn-primary mt-4">Diventa
        host</a>
</div>
{% endif %}

{% endif %}
{% endblock %}