{% extends "base.html" %}
{% block title %}I tuoi soggiorni{% endblock %}

{% block content %}
<h2 align="center">Prenotazioni</i></h2>
<div class="row p-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Luogo</th>
                <th scope="col">Host</th>
                <th scope="col">Telefono</th>
                <th scope="col">Check-In</th>
                <th scope="col">Check-Out</th>
                <th scope="col">Quanti</th>
                <th scope="col">Camere</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                
            </tr>
        </thead>
        <tbody>
            {% for soggiorno in soggiorni %}
            
            <tr>
                <td>
                    {{soggiorno.camere[0].proprieta.citta.nome}}, {{soggiorno.camere[0].proprieta.indirizzo}}
                </td>
                <td>{{soggiorno.camere[0].proprieta.proprietario.utente.nome}}
                    {{soggiorno.camere[0].proprieta.proprietario.utente.cognome}}</td>
                <td>{{soggiorno.camere[0].proprieta.proprietario.telefono}}</td>
                <td>{{soggiorno.get_stringa_check_in()}}</td>
                <td>{{soggiorno.get_stringa_check_out()}}</td>
                <td>{{soggiorno.num_ospiti}}</td>
                <td>
                    {% for camera in soggiorno.camere %}
                     {{camera.ordinale}}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{url_for('views.pagamento', id_pagamento=soggiorno.pagamento.id)}}">Vedi</a>
                </td>
                <td>
                    {% if soggiorno.data_cancellazione %}
                    <span class="badge badge-pill badge-danger">Annullato</span>
                    {% else %}
                        {% if now > soggiorno.check_in and now < soggiorno.check_out%}
                        <span class="badge badge-pill badge-warning">In corso</span>
                        {% elif now > soggiorno.check_out%}
                        <span class="badge badge-pill badge-secondary">Completato</span>
                        {% else %}
                        <span class="badge badge-pill badge-success">Prenotato</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center py-1">
                    {% if not soggiorno.data_cancellazione %}
                        {% if now > soggiorno.check_in and not soggiorno.camere[0].proprieta.data_rimozione %}
                        <a class="btn btn-outline-dark" href="{{ url_for('views.scrivi_recensione', id_proprieta=soggiorno.camere[0].proprieta.id) }}">Valuta</a>
                        {% elif now < soggiorno.check_in %}
                        <button class="btn btn-outline-danger" onclick="annulla_soggiorno({{soggiorno.id}})">Annulla</button>
                        {% endif %}
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}